*
!src/**/*
!public/**/*
!build.sh
!components
!constants
!contracts
!data
!entrypoint.sh
!helpers.ts
!hooks
!lib
next-env.d.ts
next.config.js
node_modules
!package.json
!pages
!postcss.config.js
!public
!styles
!svgs
!tailwind.config.js
!tsconfig.json
!utils
!views
