@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-number-input-arrows::-webkit-outer-spin-button,
  .hide-number-input-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-number-input-arrows[type="number"] {
    -moz-appearance: textfield;
  }
  .touch-action-none {
    touch-action: none;
  }
}

.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 200vw;
  height: 200vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(99, 102, 241, 6%),
    rgba(255, 255, 255, 0) 100%
  );
  transform: translate(-50vw, -100vh);
  z-index: -1;
}
