@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-style: normal;
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  height: 105%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif, Helvetica Neue, proxima-nova;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
          background: rgb(5,13,32);
background: radial-gradient(circle, rgba(5,13,32,1) 22%, rgba(0,8,27,1) 73%); 
  overflow: auto;
    min-height: 100%;
  }
}
body::-webkit-scrollbar {
    display: none;
}
